__pycache__/
*.py[cod]
*$py.class

data/processed_data/*
!data/processed_data/.gitkeep
data/raw_data/*
!data/raw_data/.gitkeep

drone_ppo_tensorboard/*

ckpt/*
!ckpt/.gitkeep


visualize/*
!visualize/.gitkeep

optimization_results/*
*.db

faster/