__pycache__/
*.py[cod]
*$py.class

data/processed_data/*
!data/processed_data/.gitkeep
data/raw_data/*
!data/raw_data/.gitkeep

drone_ppo_tensorboard/*

ckpt/*
!ckpt/.gitkeep

visualize/training_plots/*
!visualize/training_plots/.gitkeep
visualize/testing_plots/*
!visualize/testing_plots/.gitkeep
visualize/multiple_trajectories.png
